@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__opened {
  display: flex;
  animation: fade-in 1s;
}

.modal__container {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  width: 430px;
  height: 330px;
}

.modal__close {
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url("../images/close-icon.svg");
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__heading {
  color: #000;
  width: 100%;
  min-height: 23px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-left: 36px;
  margin-top: 34px;
  margin-bottom: 54px;
}

.modal__input {
  margin-left: 36px;
  margin-bottom: 30px;
  padding: 0 0 13px 0;
  width: 84%;
  min-height: 14px;
  border: none;
  border-bottom: 1px solid #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.modal__input:last-of-type {
  padding: 0 0 13px 0;
  margin-bottom: 48px;
}

.modal__button {
  height: 50px;
  width: 84%;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-left: 36px;
  margin-bottom: 36px;
  border: none;
}

.modal__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__container-image {
  position: relative;
  animation: fade-in 2s;
}

.modal__image-caption {
  position: absolute;
  top: calc(100% + 1px);
}

@media screen and (max-width: 480px) {
  .modal__container {
    height: 322px;
    width: 282px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    position: absolute;
    right: 9%;
    left: 91%;
    margin-bottom: 13px;
  }

  .modal__heading {
    line-height: 21px;
    font-size: 18px;
    margin-left: 22px;
    margin-top: 25px;
  }

  .modal__input {
    width: 84%;
    margin-left: 22px;
  }

  .modal__button {
    height: 46px;
    width: 84%;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-left: 22px;
  }
}
